@import url(/stylesheets/reset.css);

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.navbar{
    display: flex;
}

.theme-toggle{
    margin-left: auto;
    margin-top: 50px;
    margin-right: 80px;
    font-size: 2.5rem;
    cursor: pointer;
}

.parent-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 80px;
}

.large-text{
    font-size: 5rem;
    font-weight: 800;
}

.small-text{
    font-size: 2.5rem;
}

.head-one{
    color: rgba(43, 40, 58, 1);
}

.head-two{
    color: rgba(16, 185, 129, 1);
}

.head-three{
    color: rgba(107, 114, 128, 1);
}

.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.input-length{
    outline: 1px solid rgba(16, 185, 129, 1);
    width: 50px;
    font-size: 1.1rem;
    font-weight: 550;
}

.error-msg{
    align-self: center;
    font-size: 1.2rem;
}


.button{
    width:fit-content ;
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgba(16, 185, 129, 1);
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-weight: 550;
}

hr{
    border: solid 1px rgba(213, 212, 216, 1);
}

.password-container{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    width: 80%;
    align-items: center;
}

.password{
    background-color: rgba(39, 53, 73, 1);
    width: 415px;
    height: 60px;
    border-radius: 10px;
    color: rgba(93, 239, 146, 1);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copy-btn1,.copy-btn2{
    font-size: 2rem;
    cursor: pointer;
}

.copy-btn1:hover{
    color: rgba(16, 185, 129, 1);
}

.copy-btn2:hover{
    color: rgba(16, 185, 129, 1);
}